<h1>Search Results:</h1>

<ul>
    {{#each workouts}}
    <li>
        <p><span class="label">Warm-Up:</span> {{this.wu}}</p>
        <p><span class="label">Main Set:</span> {{this.ms}}</p>
        <p><span class="label">Cool-Down:</span> {{this.cd}}</p>
    </li>
    {{/each}}
</ul>

<form id="search-form">

    <div id="form-group">
        <label for="wu">WU Length:</label>
        <input type="text" id="wu" name="warmup" value="{{this.wu}}">
    </div>

    <button type="submit">Search</button>
</form>