.card-body {
  padding: 5px;
  margin: 5px;
  background: #19a1b0;
}

label {
  font-weight: bold;
}
p .label {
  font-weight: bold;
}

.container-fluid {
  padding: 5px;
  margin: 5px;
  align-content: center;
}

.form-group {
  margin-bottom: 5px;
}

#search-form {
  margin-bottom: 5px;
}
